
<style type="text/css">

/* HERO */

{% assign break = "480|791|1042|1482|1920" | split: "|" %}<!-- responsive imgs -->
{% assign heros-01-main-max-size =  1920 %}

{% for hero in site.heros-01-main %}

.{{ hero.title }}{
		background:url('{{ site.hero-01-main-path }}/{{ break[3] }}/{{ hero.src  }}');
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
	}

@media only screen and (max-width: {{ break[0] }}px) {
	.{{ hero.title }}{
		background:url('{{ site.hero-01-main-path }}/{{ break[2] }}/{{ hero.src  }}');
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
	}
}
@media only screen and (min-width: {{ break[0] }}px) and (max-width: {{ break[1] }}px) {
	.{{ hero.title }}{
		background:url('{{ site.hero-01-main-path }}/{{ break[2] }}/{{ hero.src  }}');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
@media only screen and (min-width: {{ break[1] }}px) and (max-width: {{ break[2] }}px) {
	.{{ hero.title }}{
		background:url('{{ site.hero-01-main-path }}/{{ break[3] }}/{{ hero.src  }}');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
@media only screen and (min-width: {{ break[2] }}px) and (max-width: {{ break[3] }}px) {
	.{{ hero.title }}{
		background:url('{{ site.hero-01-main-path }}/{{ break[3] }}/{{ hero.src  }}');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
@media only screen and (min-width: {{ break[3] }}px) and (max-width: {{ break[4] }}px) {
	.{{ hero.title }}{
		background:url('{{ site.hero-01-main-path }}/{{ break[4] }}/{{ hero.src  }}');
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		 background-size: cover;
	}
}
@media only screen and (min-width: {{ break[4] }}px) {
	.{{ hero.title }}{
		background:url('{{ site.hero-01-main-path }}/{{ break[4] }}/{{ hero.src  }}');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
{% endfor %}

</style>