
<footer class="footer section fp-auto-height" id="connect" data-anchor="connect">
  
  <div class="row text-center">
    <div class="small-12 medium-10 large-8 columns large-centered medium-centered">
        <h1>let's connect</h1>
        <h4>
            I like sharing inspiration, resources and insights of what it takes to bring ideas to life, build products, design experiences, and all kinds of things related to illustration, art and creativity.
        </h4>
        <img src="/lib/imgs/site/D!_pyramid.gif" 
        style="vertical-align: baseline; max-width:250px;padding:2rem;">
      
        <!--<h2 class="hide-for-small-only">{{ site.email }}</h2>-->
        <br>
        {% for media in site.social %}
        <a type="button" class="button btn-social" href="{{ media.url }}" target="blank" >
          <i class="fa fa-{{media.name}}" aria-hidden="true"></i>
        </a>
        {% endfor %}
    </div>
   
  </div>

</footer><!-- Footer -->
