{% for hero in site.heros-01-main %}

<div class="slide {{ hero.title }}">
	<div class="row">
		<div class="large-8 medium-6 columns large-centered medium-centered hero-slider">
			<h1>
				I'm Diogo Russo<br class="show-for-small-only">
			</h1>
			<h3>
				I help businesses, individuals and communities craft meaningful<br class="show-for-small-only">
				<span
				class="txt-rotate"
				data-period="1000"
				data-rotate='[ "PRODUCTS", "EXPERIENCES"," MEMORIES", " RELATIONSHIPS"]'
				>
				</span>
			</h3>
			<br>
			<a href="#bio" class="button round large btn-outline-white page-scroll">check it out <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
{% endfor %}

