
<div class="row" id="prototype">

	<div class="small-12 medium-12 large-12 columns process-box">
		<div class="columns large-12 medium-12 small-12">
			<h1>Prototype & Validate</h1>
		<h3>I create prototypes, experiments and iterations to refine ideas through continuous feedback loops.</h3>
		</div>
		<div class="columns large-6 medium-6 small-12">
			<div class="card-process">
				<div class="media">
		        	<img src="https://dl.dropboxusercontent.com/u/4471882/D_about/imgs_D__0001_Vector%20Smart%20Object.jpg">
		      	</div>
		      	<div class="content">
		      		<h4>Business & Services</h4>
		        	<p>I use micro-piloting to shape to shape products, services and business models. A methodology created by Gravity Tank which combines Design Thinking and Lean Startup methods to prototype and launch ideas.</p>
	      		</div>
			</div>
		</div>
		<div class="columns large-6 medium-6 small-12">
			<div class="card-process">
				<div class="media">
		        	<img src="https://dl.dropboxusercontent.com/u/4471882/D_about/imgs_D__0003_Vector%20Smart%20Object.jpg">
		      	</div>
		      	<div class="content">
		      		<h4>Apps & Interaction</h4>
		        	<p>For apps and digital products, I prototype rapidly in HTML + CSS + JS. I also use physical paper, Sketch App, Keynote, Photoshop, Illustrator and Adobe XD to create low-fi and pixel perfect prototypes. </p>
	      		</div>
			</div>
		</div>
	</div>
</div>