
{% assign step-1 = "Process <br>& Methods" %}

{% assign step-2 = "Experience <br>& Learn" %}

{% assign step-3 = "Document <br>& Share" %}

{% assign step-4 = "Prototype <br> & Validate" %}

{% assign step-5 = "Design &<br> Launch" %}

{% assign step-6 = "Connect<br> & Inspire" %}

<div data-tab class="process-bar hide-for-large-up" id="process-steps">


	
	<dl class="accordion" data-accordion>
		<dd class="accordion-navigation">
			<a href="#panel1" class="creativity hide-for-large-up" style="padding:0;">
				<div class="box text-center icon-creativity">
				</div>
				<p style="margin:0;padding-bottom:1.3rem;">{{ step-1 }}</p>
			</a>
    		<div id="panel1" class="content active creativity">
				<div class="row" data-equalizer>
					
					<div class="small-12 medium-5 large-5 columns text-center" style="padding-top:2rem;" data-equalizer-watch>
					<img src="https://dl.dropboxusercontent.com/u/4471882/Bitmap%202.png" style="height:250px;">
					</div>
					
					<div class="small-12 medium-7 large-7 columns" data-equalizer-watch>
        				<div class="v-center">
	        				<h3 style="line-height:1;">I use design thinking and creative problem solving methods to help business, individuals and communities to explore and embrace new ideas.</h3>
	        				<!--a href="#panel2" class="button large btn-outline-black" style="margin:1rem 0;"> read more</a-->
        				</div>
    				</div>

    			</div>
			</div>

			<a href="#panel2" class="experience hide-for-large-up" style="padding:0;">
				<div class="box text-center icon-experience">
				</div>
				<p style="margin:0;padding-bottom:1.3rem;">{{ step-2 }}</p>
			</a>
			<div id="panel2" class="row content experience">
        				<div class="large-4 columns">
    					<img src="https://dl.dropboxusercontent.com/u/4471882/Bitmap%204.png">
    					</div>
    					<div class="large-8 columns">
        				<h3>I use design thinking and creative problem solving methods to help business, individuals and communities to explore and embrace new ideas.<br> READ MORE</h3>
        				</div>
			</div>


			<a href="#panel3" class="document hide-for-large-up" style="padding:0;">
				<div class="box text-center icon-document">
				</div>
				<p style="margin:0;padding-bottom:1.3rem;">{{ step-3 }}</p>
			</a>
			<div id="panel3" class="row content document">
        				<div class="large-4 columns" -watch>
    					<img src="https://dl.dropboxusercontent.com/u/4471882/Bitmap%202.png">
    					</div>
    					<div class="large-8 columns" -watch>
        				<h3>I use design thinking and creative problem solving methods to help business, individuals and communities to explore and embrace new ideas.<br> READ MORE</h3>
        				</div>
			</div>

			<a href="#panel4" class="prototype hide-for-large-up" style="padding:0;">
				<div class="box text-center icon-prototype">
				</div>
				<p style="margin:0;padding-bottom:1.3rem;">{{ step-4 }}</p>
			</a>
			<div id="panel4" class="row content prototype">
        				<div class="large-4 columns" -watch>
    					<img src="https://dl.dropboxusercontent.com/u/4471882/Bitmap%202.png">
    					</div>
    					<div class="large-8 columns" -watch>
        				<h3>I use design thinking and creative problem solving methods to help business, individuals and communities to explore and embrace new ideas.<br> READ MORE</h3>
        				</div>
			</div>


			<a href="#panel5" class="design hide-for-large-up" style="padding:0;">
				<div class="box text-center icon-design">
				</div>
				<p style="margin:0;padding-bottom:1.3rem;">{{ step-5 }}</p>
			</a>
			<div id="panel5" class="row content design" >
        				<div class="large-4 columns" -watch>
    					<img src="https://dl.dropboxusercontent.com/u/4471882/Bitmap%202.png">
    					</div>
    					<div class="large-8 columns" -watch>
        				<h3>I use design thinking and creative problem solving methods to help business, individuals and communities to explore and embrace new ideas.<br> READ MORE</h3>
        				</div>
			</div>
		</dd>
	</dl>
</div>





