<div class="row" id="experience">

	<div class="small-12 medium-12 large-12 columns process-box">
		<div class="columns large-12 medium-12 small-12">
			<h1>Experience, Learn, (Re)Frame</h1>
		<h3>I conduct interviews, workshops and research projects with internal and external stakeholders. </h3>
		</div>
		<div class="columns large-6 medium-6 small-12">
			<div class="card-process">
				<div class="media">
		        	<img src="https://dl.dropboxusercontent.com/u/4471882/D_about/imgs_D__0000_Vector%20Smart%20Object.jpg">
		      	</div>
		      	<div class="content">
		      		<h4>Qualitative Research</h4>
		        	<p>“Getting out of the building” to understand behaviors and try new experiences is a powerful way to learn about context and develop empathy.</p>
	      		</div>
			</div>
		</div>
		<div class="columns large-6 medium-6 small-12">
			<div class="card-process">
				<div class="media">
		        	<img src="https://dl.dropboxusercontent.com/u/4471882/D_about/imgs_D__0007_Vector%20Smart%20Object.jpg">
		      	</div>
		      	<div class="content">
		      		<h4>Actionable Insights</h4>
		        	<p>Immersive qualitative research can help unlock actionable insights. Reframing problems helps to unlock a vast array of solutions.</p>
	      		</div>
			</div>
		</div>
	</div>
</div>