<div class="row" id="creativity-design">
	<div class="small-12 medium-12 large-12 columns process-box">
		<div class="columns large-12 medium-12 small-12">
			<h1>Design & Creativity</h1>
			<h3>I use design thinking and creative problem solving methods to help business, individuals and communities to explore and embrace new ideas.</h3>
		</div>
		<div class="columns large-6 medium-6 small-12">
			<div class="card-process">
				<div class="media">
		        	<a class="swipebox" href="https://dl.dropboxusercontent.com/u/4471882/D_about/imgs_D__0004_Vector%20Smart%20Object.jpg">
						<img src="https://dl.dropboxusercontent.com/u/4471882/D_about/imgs_D__0004_Vector%20Smart%20Object.jpg">
					</a>
		      	</div>
		      	<div class="content">
		      		<h4>Creative Problem Solving</h4>
		        	<p>Creative Problem Solving, is an approach to a problem or challenge in an “out of the box” way.  It helps (re)frame problems and opportunities, come up with meaningful findings and actionable insights.</p>
	      		</div>
			</div>
		</div>
		<div class="columns large-6 medium-6 small-12">
			<div class="card-process">
				<div class="media">
		        	<img src="https://dl.dropboxusercontent.com/u/4471882/D_about/imgs_D__0009_Vector%20Smart%20Object.jpg">
		      	</div>
		      	<div class="content">
		      		<h4>Design Thinking</h4>
					<p>Design thinking, employs divergent thinking as a way to ensure that many possible solutions are explored in the first instance, and then convergent thinking as a way to narrow these down to a final solution.</p>
	      		</div>
			</div>
		</div>
	</div>
</div>

